<script src="/lib/jquery.min.js" async></script>
<!-- <script type="text/javascript" src="/lib/bootstrap.min.js" async></script> -->
<script type="text/javascript" src="/lib/formValidation.min.js" async></script>
<script type="text/javascript" src="/lib/framework/bootstrap.min.js" async></script>
<script type="text/javascript" src="/scripts/main.js" async></script>
<script type="text/javascript" src="/scripts/services.js" async></script>
<script type="text/javascript">
  function startTest(){
  	window.location.href= window.location.href+'1';
  }
  function next(){
  	var x = window.location.pathname;
  	window.location.pathname=x.substr(0,x.length-1)+(parseInt(x.substr(x.length-1,x.length)) +1);
  }
</script>
</body>
</html>
