<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xebia QA hiring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/formValidation.min.css">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <script type="text/javascript">
        function noBack()
        {
            window.history.forward();
        }
  </script>
  <body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
    <header class="nav xebiaTheme">
      <h3 class="text-center">Xebia QA Hiring</h1>
    </header>
