<% include includes/header.ejs %>

<section class="container jumbotron">
    <div class="container">
			<h4 class="text-center"><u>Basic Form</u></h4>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label" for="firstname">First Name</label>
					<input type="text" class="form-control" name="firstname">
				</div>
				<div class="form-group">
					<label class="control-label" for="lastname">Last Name</label>
					<input type="text" class="form-control" name="lastname">
				</div>
				<div class="form-group">
					<label class="control-label" for="carselect">My Car</label>
					<select class="form-control" name="carselect">
						<option value="volvo">Volvo</option>
	          <option value="saab">Saab</option>
	          <option value="mercedes">Mercedes</option>
	          <option value="audi">Audi</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label"><input type="checkbox"> I have a bike</label>
				</div>
			</form>
  </div>
	<button type="button" name="button" class="btn btn-lg continueBtn xebiaTheme" onclick="next()">Continue</button>
</section>

<% include includes/footer.ejs %>
