<% include includes/header.ejs %>

<section class="container text-center jumbotron">
	<h4>Coding logic test 2</h4>
	<button type="button" name="button" class="btn btn-lg continueBtn xebiaTheme" onclick="next()">Continue</button>
</section>

<% include includes/footer.ejs %>
