<% include includes/header.ejs %>

<section class="container text-center jumbotron">
	<div class="container">
		<h4><u>Cookie Test</u></h4>
		<div>Add a cookie key value plain by selenium code and then click on continue button.</div>
		<code>name : Alexander</code>
		<div class="form-group jumbotron has-error">
			<code class="help-block hide">Cookie not added</code>
		</div>
	</div>
	<button type="button" name="button" class="btn btn-lg continueBtn xebiaTheme" onclick="checkCookie()">Continue</button>
</section>
<script type="text/javascript">
	function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
	function checkCookie(){
		var name = getCookie('name');
		if(name != ''){
			next()
		}
		else{
			$('.help-block').removeClass('hide');
		}
	}

</script>
<% include includes/footer.ejs %>
