<% include includes/header.ejs %>

<section class="containerjumbotron">
	<div class="container">
		<h4 class="text-center">Lazyload</h4>
		<div class="form-group">
			<label for="country">Select Country</label>
			<select class="form-control" id="country" onchange="getCities(this.value)">
				<option value="" selected>Select a Country</option>
				<% for(var i=0;i<countries.length;i++) {%>
					<option value="<%= countries[i] %>"><%= countries[i] %></option>
				<% } %>
			</select>
		</div>
		<div class="form-group">
			<h5 class="selectLabel hide">Please select <span id="randomCity"></span> from given cities</h5>
			<div id="cities">
				<table class="table table-striped">
			    <tbody></tbody>
				</table>
			</div>
		</div>
		<div class="has-error">
			<code class="help-block hide">Correct City not selected</code>
		</div>
	</div>
	<button type="button" name="button" class="btn btn-lg continueBtn xebiaTheme" onclick="checkSelected()">Continue</button>
</section>
<% include includes/footer.ejs %>
