<% include includes/header.ejs %>
<section class="container text-center jumbotron">
	<div class="jumbotron">
		<h3>Welcome to our QA Hiring App</h3>
		<div>Click continue to start your test</div>
		<!-- <a href="/xebia-qa-hiring/1">Continue</a> -->
		<!-- <button type="button" name="button" class="btn btn-lg xebiaTheme continueBtn" onclick="gotoForm()">Continue</button> -->
		<button type="button" name="button" class="btn btn-lg xebiaTheme continueBtn" onclick="startTest()">Continue</button>
	</div>
</section>
<% include includes/footer.ejs %>
